<div class="span4">
	<div class="well">
		<h2>Level: <span class="level">{{ level }}</span></h2>
		<br/>
		<b>Stamina:</b>
		<div class="progress stamina" data-content="Allow you to mix ingredients. 1 ingredient in mixture cost you 1 stamina. stamina regenerates 5 per hour" title="Stamina">
			<div class="bar" style="width:{{ stamina }}%" title="{{ stamina }}%"></div>
		</div>
		<b>Exp:</b>
		<div class="progress exp" title="Exp" data-content="Evry new mixture give you exp points. If you fill this bar, you will get level">
			<div class="bar bar-success" title="{{ exp }}%" style="width:{{ exp }}%"></div>
		</div>
	</div>
</div>
