<div class="span8">
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand">Ingredients</a>
			<ul class="nav ingredients">
				{{# each ingredients }}
				<li data-category_id="{{ category_id }}" data-id="{{ id }}"><a>{{ name }}</a></li>
				{{/each}}
			</ul>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span6 offset3">
			<div class="well">
				<ul class="nav nav-list recipe">
					<li class="nav-header">New Recipe</li>
					<li class="recipe-max alert alert-error">Max ingredients in one recipe</li>
					<li class="recipe-hint alert alert-info">Drag ingredient here</li>
				</ul>
				<button class="btn btn-primary btn-block" id="recipe-mix">Mix It!</button>
			</div>
		</div>
	</div>

</div>
