<div class="navbar">
	<div class="navbar-inner">
		<a class="brand">Alchemist</a>
		<ul class="nav ingredient_select">
			{{# each categories }}
			<li{{# if current }} class="active" {{/if}}><a data-id="{{ id }}">{{ name }}</a></li>
			{{/each}}
		</ul>
	</div>
</div>
