!!! 5
%html
  %head
    %title Alchemist
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ data: ({ exp: current_user.experience, stamina: current_user.stamina, level: current_user.level } if current_user.present?) }
    .top
    .container
      .row-fluid.main-container
      = yield
